.dialog-wrapper {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 150;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.dialog-wrapper.open {
  visibility: visible;
  opacity: 1;
}
.dialog-wrapper .modal {
  position: relative;
  top: 50px;
  right: auto;
  bottom: auto;
  left: 50%;
  padding: 20px;
  width: 600px;
  height: auto;
  margin-bottom: 30px;
  background: transparent;
  margin-left: -300px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 40px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 40px;
  background-color: #FFF;
  border-radius: 5px;
}
.dialog-wrapper .modal .title {
  font-size: 18px;
  font-weight: 700;
  color: #303030;
}
