.build {
  background-repeat: no-repeat;
}
.build.stone_farm {
  background-image: url(/images/buildings/stone.png);
}
.build.army {
  background-image: url(/images/buildings/army.png);
}
.build.grain_farm {
  background-image: url(/images/buildings/grain.png);
}
.build.granary {
  background-image: url(/images/buildings/granary.png);
}
.build.wood_farm {
  background-image: url(/images/buildings/wood.png);
}
.build.iron_farm {
  background-image: url(/images/buildings/iron.png);
}
.build.stock {
  background-image: url(/images/buildings/stock.png);
}
.unit {
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.unit.sword {
  background-image: url(/images/icons/sword.png);
}
.unit.catapult {
  background-image: url(/images/icons/catapult.png);
}
.button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ccc;
  color: #303030;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.list {
  margin: 20px 0;
}
.list .name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.list .item {
  margin: 20px 0;
  padding-left: 70px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
}
.list .item.stone_farm {
  background-image: url(/images/buildings/stone.png);
}
.list .item.army {
  background-image: url(/images/buildings/army.png);
}
.list .item.grain_farm {
  background-image: url(/images/buildings/grain.png);
}
.list .item.granary {
  background-image: url(/images/buildings/granary.png);
}
.list .item.wood_farm {
  background-image: url(/images/buildings/wood.png);
}
.list .item.iron_farm {
  background-image: url(/images/buildings/iron.png);
}
.list .item.stock {
  background-image: url(/images/buildings/stock.png);
}
.list .item .desc {
  margin-bottom: 20px;
}
.list .item .info {
  margin-bottom: 20px;
}
.list .item .info .unit {
  padding-left: 30px;
  margin-bottom: 5px;
  display: inline-block;
}
.list .item .price {
  margin-bottom: 20px;
}
.list .item .controls {
  margin-bottom: 20px;
}
