.dialog-wrapper {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 150;
    
    height: 100%;
    width: 100%;
    
    visibility: hidden;
    opacity: 0;
    
    overflow: auto;
    
    background-color: rgba(0, 0, 0, .6);
    
    &.open {
        visibility: visible;
        opacity: 1;
        
       // .transition(visibility 0s, opacity 0.3s ease);
    }
    
    &.closed {
       // .transition(visibility 0.3s, opacity 0.3s ease);
    }
}
