.tooltip {
  display: block;
  max-width: 350px;
  padding: 5px 10px;
  border-radius: 3px;
  background: #303030;
  color: #fff;
  opacity: 0;
  letter-spacing: 0.1px;
  z-index: 500;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  top: -12000px;
  left: -12000px;
  opacity: .0000001;
  -webkit-transition: opacity 150ms ease;
  -moz-transition: opacity 150ms ease;
  -ms-transition: opacity 150ms ease;
  -o-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
  will-change: top, left, opacity;
}
.tooltip .tooltip-inner {
  background-color: transparent;
}
.tooltip .arrow {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #303030 transparent transparent transparent;
}
.tooltip.below .arrow {
  top: -5px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #303030 transparent;
}
.tooltip p {
  margin: 0;
  padding: 0;
  font-size: 12px !important;
  line-height: 14px !important;
}
.tooltip a {
  color: #FFF;
}
