.map {
    
    & > :nth-child(even) {
        .index__background {
            position: relative;
            left: 30px;
        }
    }
    .map-row {
        height: 40px;
        line-height:40px;
        clear: both;
        letter-spacing: -10px;
        
        .index__background {
            background-repeat: no-repeat;
            background-size: 60px 60px;
            height: 60px;
            width: 60px;
            display: inline-block;

    
            &.b1 {
                background-image: url(/images/backgrounds/grass_05.png)
            }
            &.b2 {
                background-image: url(/images/backgrounds/grass_10.png)
            }
            &.b3 {
                background-image: url(/images/backgrounds/grass_11.png)
            }
            &.b4 {
                background-image: url(/images/backgrounds/grass_12.png)
            }
            &.b5 {
                background-image: url(/images/backgrounds/grass_13.png)
            }
            &.b6 {
                background-image: url(/images/backgrounds/grass_14.png)
            }
            &.b7 {
                background-image: url(/images/backgrounds/grass_15.png)
            }
            &.b8 {
                background-image: url(/images/backgrounds/grass_16.png)
            }
            &.b9 {
                background-image: url(/images/backgrounds/grass_05.png)
            }
        }
    }
}