.unit {
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding-left: 25px;
}
.unit.sword {
  background-image: url(/images/icons/sword.png);
}
.unit.archer {
  background-image: url(/images/icons/archer.png);
}
.unit.catapult {
  background-image: url(/images/icons/catapult.png);
}
