@import "./site.less";
@import "./cursor.less";

@import "./site.less";
@import "./cursor.less";

@color-map-green: lawngreen;
@color-map-blue: skyblue;

.resource-container {
    color: #FFF;
    background: #707070;
    border-radius: 0 0 20px 20px;
    font-size: 12px;
    width: 531px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    z-index: 999;
    position:relative;
    
    .resource {
        height: 30px;
        background-size: 30px 30px;
        background-repeat: no-repeat;
        padding-left: 35px;
        margin-right: 10px;
        
        display: inline-block;
        width: 115px;
        text-align: left;
        
        .count {
           
            vertical-align: middle;
            line-height: 30px;
            text-align: left;
        }
        &.wood {
            color: sandybrown;
            color: #fff;
            background-image: url(/images/icons/wood.png);
        }
        
        &.grain {
            color: orange;
            color: #fff;
            background-image: url(/images/icons/grain.png);
        }
        
        &.iron {
            color: skyblue;
            color: #fff;
            background-image: url(/images/icons/iron.png);
        }
        
        &.stone {
            color: lightsteelblue;
            color: #fff;
            background-image: url(/images/icons/stone.png);
        }
    }
}

.menu-left {
    height: 500px;;
    width: 200px;
    background: #909090;
    position: absolute;
    top: -70px;
    right: 0;
    text-align: left;
    padding: 5px;
    padding-top: 100px;
    
    .resource-container {
        color: #FFF;
        background: none;
        border-radius: 0;
        font-size: 12px;
        width: 100px;
        height: auto;
        margin:0;
    }
}

.container {
    position: relative;
    z-index: 1;
    display:block;
}

.container::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: -1;
    background-image: url(/images/backgrounds/b3.png);
}


.village-container {
    text-align: center;
    width: 754px;
    height: 500px;
    padding-right: 200px;
    position: relative;
    margin: 0 auto;
    .map {
        padding: 2px;
        width: 544px;
        height: 384px;
        overflow: hidden;
        display: inline-block;
        
        .selector {
            display: none;
        }
        & > :nth-child(even) {
            .map-cell {
                .index__background {
                    left: 45px;
                }
                .selector {
                    margin-left: 43px !important;
                }
            }
        }
        .map-row {
            height: 60px;
            line-height: 60px;
            clear: both;
            letter-spacing: -10px;
            position: relative;
            
            .map-cell {
                height: 90px;
                width: 90px;
                display: inline-block;
                
                .index__background {
                    cursor: pointer;
                    position: relative;
                    background-repeat: no-repeat;
                    background-size: 90px 90px;
                    height: 90px;
                    width: 90px;
                    display: inline-block;
                    z-index: 1;
                    
                    background-image: url(/images/backgrounds/grass_05.png);
                    
                    &.b1 {
                        background-image: url(/images/backgrounds/grass_16.png);// url(/images/backgrounds/grass_02.png);
                    }
                    &.b2 {
                        background-image: url(/images/backgrounds/grass_15.png); //url(/images/backgrounds/grass_01.png);
                    }
                    &.b3 {
                        background-image: url(/images/backgrounds/grass_13.png);
                    }
                    &.b4 {
                        background-image: url(/images/backgrounds/grass_04.png);
                    }
                    
                    &.village {
                        background-image: url(/images/buildings/medieval_smallCastle.png);
                        cursor: pointer;
                    }
                }
                
                .selector {
                    margin-left: -2px;
                }
                
                &.my-village {
                    .selector {
                        z-index: 3;
                        .active(94px, @color-map-blue);
                    }
                    .index__background {
                        z-index: 4;
                    }
                }
                
                &:hover {
                    .selector {
                        .active(94px, @color-map-green);
                    }
                    .index__background {
                        z-index: 3;
                    }
                }
            }
        }
    }
}